$prefix-cls: 'pg-guild-count';

.#{$prefix-cls} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;

  &__count {
    font-weight: bold;
    color: skyblue;
  }
}
